[submodule "Beast/vendor/spdlog"]
	path = Beast/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Beast/vendor/glfw"]
	path = Beast/vendor/glfw
	url = https://github.com/glfw/glfw.git
